.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.user
*.aps
*.pdb
*.ipch
*.log


bin/
obj/
/build/


.vs/
*.user
*.userosscache
*.sln.docattachments
*.suo
*.v12.suo


project.lock.json
project.fragment.lock.json
artifacts/
appsettings.Development.json
out/


.vscode/
.idea/
*.swp
*.bak
*.cache
Thumbs.db
ehthumbs.db
Desktop.ini


*.nupkg

packages/
!packages/build/